:root {
    --standard-transition: .3s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #222;
}

.app-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background: radial-gradient(hsla(0, 0%, 0%, 0.89) 50%, hsla(0, 0%, 0%, 0.85) 50%);
    background-size: 5px 5px;
}