:root {
    --standard-transition: .3s;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #666;
}

@media (max-width: 321px) {
    html {
        font-size: 12px;
    }
}

.app-container {
    display: grid;
    grid-template-areas: "side-menu header" "side-menu main" "side-menu footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50px 1fr;
    min-height: 100vh;
    background: radial-gradient(hsla(0, 0%, 0%, 0.89) 50%, hsla(0, 0%, 0%, 0.85) 50%) fixed;
    background-size: 5px 5px;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.side-menu {
    grid-area: side-menu;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer {
    grid-area: footer;
}
